<div class='container-fluid'>
    <ng-http-loader></ng-http-loader>
    <div class="row justify-content-center">
        <div class="row text-center">
            <div class="col-sm-12">
                <span class="display-4">Education</span>
            </div>
        </div>
        <div class="col-md-12 justify-content-center">
            <form (ngSubmit)="onSave()">
                <div class="form-row">
                    <div class="form-group has-success">
                        <label class="form-control-label" for="inputSuccess1">Instiute Name</label>
                        <input type="text" value="" class="form-control is-valid" name="uniName"
                        [(ngModel)]="education.uniName">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Degree Type</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="degreeType"
                        [(ngModel)]="education.degreeType">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group pl-2">
                        <label class="form-control-label" for="inputSuccess1">Degree Name</label>
                        <input type="text" value="" class="form-control is-valid" name="degreeName"
                        [(ngModel)]="education.degreeTitle">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Start Date</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="to"
                        [(ngModel)]="education.to">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        
                        <label class="form-control-label" for="inputSuccess1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="isCurrently"
                                [(ngModel)]="education.isCurrently" [disabled]="education.from?.length > 0">
                                <label class="custom-control-label" for="customCheck1">Is Currently?</label>
                            </div>
                        </label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="from"
                        [(ngModel)]="education.from" [disabled]="education.isCurrently">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-success ml-3">Save</button>
                <button type="button" class="btn btn-info ml-3" (click)="resetEducation()">Reset</button>
                <button type="button" class="btn btn-danger ml-3" (click)="onDelete()">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Instiute</th>
                    <th scope="col">Degree Type</th>
                    <th scope="col">Degree Name</th>
                    <th scope="col">End</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr class="table-active">
                    <th scope="row">Active</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                  </tr> -->
                  <tr *ngFor="let item of educations; let i = index" (click)="onEducationRow($event, item)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.uniName}}</td>
                    <td>{{item.degreeType}}</td>
                    <td>{{item.degreeTitle}}</td>
                    <td>{{item.isCurrently ? 'Continue' : item.from}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>