<div class='container-fluid'>
  <ng-http-loader></ng-http-loader>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <span class="display-4">Messages</span>
            <form>
                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess1">Search Subject</label>
                    <input type="text" value="" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback">Success! You've done it.</div>
                </div>
                <button type="button" class="btn btn-info">Search</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">From</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr class="table-active">
                    <th scope="row">Active</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                  </tr> -->
                  <tr *ngFor="let item of contacts; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.subject}}</td>
                    <td>{{item.from}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>