<div class='container-fluid'>
    <ng-http-loader></ng-http-loader>
    <div class="row justify-content-center">
        <div class="row text-center">
            <div class="col-sm-12">
                <span class="display-4">Work Experience</span>
            </div>
        </div>
        <div class="col-md-12 justify-content-center">
            <form (ngSubmit)="onSave()">
                <div class="form-row">
                    <div class="form-group has-success">
                        <label class="form-control-label" for="inputSuccess1">Company Name</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="companyTitle"
                        [(ngModel)]="work.companyTitle">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Position Name</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="title"
                        [(ngModel)]="work.title">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Start Date</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="to"
                        [(ngModel)]="work.to">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        
                        <label class="form-control-label" for="inputSuccess1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="isCurrentlyWorking"
                                [(ngModel)]="work.isCurrentlyWorking" [disabled]="work.from?.length > 0">
                                <label class="custom-control-label" for="customCheck1">Is Cureently working?</label>
                            </div>
                        </label>
                        <input type="text" class="form-control is-valid" id="inputValid" name="from" [disabled]="work.isCurrentlyWorking"
                        [(ngModel)]="work.from">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group pl-2">
                        <label class="form-control-label" for="inputSuccess1">Description</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid" name="description"
                        [(ngModel)]="work.description">
                        <input type="hidden" value="" class="form-control is-valid" id="inputValid" name="id"
                        [(ngModel)]="work.id">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-success ml-3">Save</button>
                <button type="button" class="btn btn-info ml-3" (click)="resetWork()" >Reset</button>
                <button type="button" class="btn btn-danger ml-3" (click)="onDelete()">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">Position</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col" style="width:40%">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr class="table-active">
                    <th scope="row">Active</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                  </tr> -->
                  <tr *ngFor="let item of works; let i = index" (click)="onWorkRow($event, item)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.companyTitle}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.to}}</td>
                    <td>{{item.isCurrentlyWorking ? 'Working' : item.from}}</td>
                    <td>{{item.description}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>