<div class='container-fluid'>
  <ng-http-loader></ng-http-loader>
    <div class="row text-center">
        <div class="col-sm-12">
            <span class="display-4">Project</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <form (ngSubmit)="onSave()">
                <div class="form-row">
                    <div class="form-group has-success">
                        <label class="form-control-label" for="inputSuccess1">Title</label>
                        <input type="text" value="" [(ngModel)]="project.title" name="title" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group pl-2">
                      <label class="form-control-label" for="inputSuccess1">Project Image</label>
                      <div class="input-group mb-3">
                          <div class="custom-file">
                              <input #imageInput type="file" class="custom-file-input" id="inputGroupFile02" name="imageUrl"
                              accept="image/*"
                                (change)="processFile(imageInput)">
                              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-success ml-3">Save</button>
                <button type="button" class="btn btn-info ml-3" (click)="resetProject()">Reset</button>
                <button type="button" class="btn btn-danger ml-3" (click)="onDeleteProject()">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Project Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let item of projects; let i = index" (click)="onProjectRow($event, item)">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.title}}</td>
                    <!-- <td>{{item.imageUrl}}</td> -->
                    <td *ngIf="item.imageUrl">
                      <img src="https://resume-server-app.herokuapp.com/{{item.imageUrl}}" class="rounded-circle mx-auto d-block"
                          style="height:10vh; width:10vh" alt="project Image">
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>