<div class='container-fluid'>
    <div class="row text-center">
        <div class="col-sm-12">
            <span class="display-4">Profile</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" class="rounded-circle mx-auto d-block" alt="Profile Image">
        </div>
        <div class="col-md-8 justify-content-center">
            <form>
                <div class="form-row">
                    <div class="form-group has-success">
                        <label class="form-control-label" for="inputSuccess1">First Name</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Last Name</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Title</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Country</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">City</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Zip Code</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Adress</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Phone</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Web Site</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group has-success pl-2">
                        <label class="form-control-label" for="inputSuccess1">Date of Birth</label>
                        <input type="text" value="" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                    </div>
                    <div class="form-group pl-2">
                        <label class="form-control-label" for="inputSuccess1">Gender</label>
                        <select class="custom-select">
                          <option selected="">Open this select menu</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">Other</option>
                        </select>
                      </div>
                      <div class="form-group pl-2">
                        <label class="form-control-label" for="inputSuccess1">Profile Image</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="text-center">
                <button type="button" class="btn btn-lg btn-success ml-3" style="width:20%">Save</button>
                </div>
            </form>
        </div>
    </div>